body {
    background: white;
}

.add-form {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.products {
    border-collapse: collapse;
    border: none;
    margin: 20px 0;
    width: 100%;
}

th {
    font-weight: bold;
}
th, td {
    border: 1px dashed #ccc;
    padding: 4px;
}
td:nth-child(3),
td:nth-child(4) {
    text-align: center;
}
td img {
    width: 100%;
}

.hidden {
    /* display: none !important; */
}

.swipe-menu {
    position: fixed;
    bottom: 0;
    top: 0;
    right: -320px;
    width: 320px;
    transition: transform 200ms linear;
    background-color: rgb(241, 241, 241);
}

.switch {
    position: absolute;
    top: 50%;
    left: -16px;
    width: 16px;
    height: 120px;
    transform: translateY(-50%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(15, 143, 223);
}
.switch:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.swipe-menu.show {
    transform: translateX(-320px);
}